.Nom {

color: rgba(0, 0, 0, 0.952);
font-variant: small-caps;

}

.sectionFormation {

border-style: dotted;

}

body {
background-color: rgba(77, 176, 203, 0.386);
padding: 30PX;
}

.section-flex {
    display: flex;
    padding: 20px;
    width: 100%;
    
}

.container-m {
    width:60%;

}

.sectionS {
  display: flex;
}

.sectionS {
  flex: 1; 
  padding: 10px;
  
  
}
.sectionM {
  display: flex; 
}

.sectionM {
  flex: 1; 
  padding: 10px;
  

}
.row-container {
  display: flex;         
  gap: 20px;             
}

.sectionS, .sectionM {
  flex: 1;               
  padding: 10px;
  box-sizing: border-box;
  
}

@media screen and (max-width: 768px) {
    .sectionFormation {display: block} ;
    .sectionFormation {justify-content: center;}
    .sectionFormation {flex: 1;}
 
}
